body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.carousel-section-main {
    width: 1140px;
    margin: 0 auto;
}
.carousel-staff h1 {
    font-size: 26px;
    margin-top: 60px;
}
.carousel-staff p {
    font-size: 18px;
    color: #A1A1A1;
}
.staff-progress-bar {
    background-color: #EDEDEC;
    width: 74px;
    height: 5px;
    border-radius: 6px;
    display: inline-block;
}
.staff-progress-bar:after {
    content: '';
    position: absolute;
    background-color: #14ADF3;
    width: 55px;
    height: 5px;
    border-radius: 4px;
    display: inline-block;
}
.staff-section {
    display: flex;
    margin-top: 52px;
}
.staff-main {
    width: 100%;
    margin: 0 31px;
}
.staff-main img {
    width: 150px !important;
    border-radius: 50%;
    height: 150px;
}
.staff-main h4 {
    font-size: 17px;
    margin-bottom: 10px;
}
.staff-main span {
    font-size: 14px;
    color: #616161;
}
.staff-main p {
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}


/*=========start-owl-carousel============*/
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display:block !important;
}
.owl-nav {
    position: absolute;
    top: -64px;
    right: 0;
}
.owl-nav button:focus{
    outline: none;
}
.fa.fa-long-arrow-left, .fa.fa-long-arrow-right  {
    background: #ddd;
    padding: 7px 15px;
}
.fa.fa-long-arrow-left:hover, .fa.fa-long-arrow-right:hover  {
    background: #14ADF3;
    color: white;
}


















































